.Rproj.user
.git
tur_competition.Rproj
Rise Against Hunger - Accounts.csv
Rise Against Hunger - Contacts.csv
Rise Against Hunger - Opportunities.csv
RiseAgainstHunger_Salesforce_ Data_ Dictionary.xlsx
TUN_DataChallenge2017_SubmissionTemplate.docx